.header {
    display: flex;
    justify-content: space-between;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #222;  
}

.buttons__wrapper {
    margin: 0 20px;
}

.btns {
    display: flex;
    text-align: center;
    align-items: center;
}

.btn {
    margin-right: 5px;
    display: flex;
    align-items: center;
}

.btn__link {
    color: white;
    text-decoration: none;
    margin-right: 5px;
    max-width: 108px;
}

.main__logo img{
    width: 180px;
    margin: 0 20px;
}