.nav {
    grid-area: n;
    margin: 10px;
}


.item {
    margin-left: 10px;
    color: #222222;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
}

.item .active {
    margin-left: 10px;
    text-decoration: none;
    color: white;
}