.form__control.error input{
    border: 2px solid red;
}

.form__control.error span {
    color: red;
}

.formSummaryError {
    border: red 1px solid;
    padding: 5px;
    color: red;
    margin: 5px 0;
}