.profileInfo {
    margin-bottom: 100px;
}

.profileImages {
    display: flex;
    position: relative;

    /* background-image: url('https://img.pac.ru/resorts/213084/265649/big/F4022E267F00010148FB84960BB1A70A.jpg'); */

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    min-height: 300px;
    height: 100%;
}

.profileImages:after {
	content: "";
	display: block;
	width: 100%;
	height: 100%;    
	position: absolute;
	top: 0;    
	left: 0;   
	background: transparent;
	/* background-image: linear-gradient(to bottom, #11de93 20%, #0e7ad6 80%);     */
	background-image: linear-gradient(to bottom, #ffffff 10%, #000000 80%);    
	opacity: 0.45; 
}

.imagesWrapper {
    width: 40%;
}

.profileImageMain {
    position: absolute;
    border-radius: 10%;

    top: 15%;
    left: 10%;

    max-width: 230px;
    max-height: 400px;

    width: 100%;

    z-index: 100;
}

.profileDescription {
    padding-top: 100px;
    font-size: 28px;
    font-weight: 400;
    color: #fdfdfd;

    z-index: 100;
}

.profileDescription p {

    margin: 20px 0 0 0;
}

.profileName {
    font-size: 46px;
    font-weight: 600;
}
