.nav {
    grid-area: n;
    border: 3px solid rgb(255, 178, 63);
    background-color: rgb(243, 185, 97);
    margin: 10px;
}

.item {
    color: white;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
}

.item .active {
    text-decoration: none;
    color: black;
}